body{
    width: 100% 100%;
    background-color: rgb(255,255,255);
    border: 100% 100%;
    overflow-x: hidden;
}
#logo{
    overflow-x: hidden;
    mix-blend-mode: darken;
    position: relative;
    width: 50%;
    left: 24%;
    
}
.container{
    background-color: white;
    position: relative;
    left: 5%;
    width: 90%;
    height: 3000px;
    border-radius: 4%;
}
.navi{
    background-color: rgb(8, 56, 127);
    height: 50px;
    width: -webkit-fill-available;
    position: relative;
}

.items{
    display: flex;
    /* padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px; */
    padding: 11.5px;

    transition: 0.5s;
    transition-delay: 0s;
    
    
  
}
.items:hover{
    background-color:#007bff;
    font-size: x-large;
}
.navi{
    display: flex;
    justify-content: space-around;
}

.container2{
    background-color: rgba(42, 42, 42, 0.199);
    width: 100%;
    height: 100%;
    border-radius: 0.5%;

}

h1{
    color: rgb(0, 99, 159);
    text-align: center;
    background-color: rgb(168, 179, 188);

}

a{
    text-decoration: none;
    color: aliceblue;
}
em{
    position: relative;
    left: 30%;
    
}
.links{
    color: black;
    transition: 0.2s ease-in;
}
.links:hover{
    color: #007bff;
    font-size: x-large;
}
.vidv{
    position:relative;
    left: 200px;
}
form{
    position: absolute;
}
.slider{  
    display: flex;
    overflow-x: hidden;
    width: -webkit-fill-available;
}
marquee{
    color:rgb(8, 56, 127);
    font-size: 40px;
}
